@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Inter";
    src: url("./fonts/Inter-Regular.ttf");
}

.Poppins {
    font-family: "Poppins" ;
}
.Inter {
    font-family: "Inter" ;
}